body {
    margin: 0;
    font-family: DM Sans;
    font-weight: 400;
    font-size: 12px;
    line-height: 186%;
    letter-spacing: 0.04em;
}
a {
    text-decoration: none;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
h1,h2,h3,h4,h5,h6,p {
    padding: 0;
    margin: 0;
}